<!-- Jinja :: Template -->
{% extends 'base.html' %}

<!-- Jinja :: Theme -->
{% set theme_title = 'Home - Chatbot' %}

<!-- Jinja :: Styles -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

<!-- Jinja :: Content -->
{% block content %}
<div class="d-flex justify-content-center align-items-center w-100 vh-100 p-5 gap-5">

    <!-- Sidebar -->
    <div class="bg-white w-25 h-100 p-3 border rounded-5"></div>

    <!-- Content -->
    <div class="bg-white w-75 h-100 p-5 border rounded-5">
        <div class="d-flex flex-column h-100">

            <!-- Chat -->
            <div class="d-flex bg-white flex-grow-1 overflow-auto">
                <div class="d-flex flex-column bg-white w-100 h-100 p-3 flex-grow-1 overflow-auto">
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message</div>
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message</div>
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-start mb-3 px-3 py-2 bg-light text-black text-break rounded-4" style="max-width: 50% !important;">message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle message too long to handle</div>
                    <div class="d-flex align-self-end mb-3 px-3 py-2 bg-primary text-white text-break rounded-4" style="max-width: 50% !important;">message</div>
                </div>
            </div>

            <!-- Prompt -->
            <form>
                <div class="d-flex input-group gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control px-4 rounded-pill" placeholder="">
                        <label class="px-4">Ask me anything you want, I am at your service</label>
                    </div>
                    <button class="btn btn-primary rounded-circle" type="submit">
                        <span class="bi bi-send fs-5"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}