:root,
[data-bs-theme="light"] {
	--bs-primary: #55b62c !important; /* pastel-green-500 */
	--bs-primary-rgb: 85, 182, 44 !important;
	--bs-primary-text-emphasis: #3f911f !important; /* pastel-green-600 */
	--bs-primary-bg-subtle: #96e072 !important; /* pastel-green-300 */
	--bs-primary-border-subtle: #75d04b !important; /* pastel-green-400 */
	--bs-light: #eaeaea !important;
	--bs-light-rgb: 234, 234, 234 !important;
	--bs-light-text-emphasis: #5e5e5e !important;
	--bs-light-bg-subtle: #fbfbfb !important;
	--bs-light-border-subtle: #f7f7f7 !important;
	--bs-link-color: #55b62c !important;
	--bs-link-color-rgb: 85, 182, 44 !important;
	--bs-link-hover-color: #3f911f !important;
	--bs-link-hover-color-rgb: 63, 145, 31 !important;
}

.btn-primary {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #55b62c !important; /* pastel-green-500 */
	--bs-btn-border-color: #55b62c !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #3f911f !important; /* pastel-green-600 */
	--bs-btn-hover-border-color: #326f1c !important; /* pastel-green-700 */
	--bs-btn-focus-shadow-rgb: 150, 224, 114 !important; /* pastel-green-300 */
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #326f1c !important; /* pastel-green-700 */
	--bs-btn-active-border-color: #274b1c !important; /* pastel-green-900 */
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #55b62c !important;
	--bs-btn-disabled-border-color: #55b62c !important;
}

.btn-outline-primary {
	--bs-btn-color: #55b62c !important;
	--bs-btn-border-color: #55b62c !important;
	--bs-btn-focus-shadow-rgb: 85, 182, 44 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #55b62c !important;
	--bs-btn-hover-border-color: #3f911f !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #3f911f !important;
	--bs-btn-active-border-color: #326f1c !important;
	--bs-btn-disabled-color: #55b62c !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #55b62c !important;
}

.btn-light {
	--bs-btn-color: #000000 !important;
	--bs-btn-bg: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #c7c7c7 !important;
	--bs-btn-hover-border-color: #bbbbbb !important;
	--bs-btn-focus-shadow-rgb: 35, 35, 35 !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #bbbbbb !important;
	--bs-btn-active-border-color: #b0b0b0 !important;
	--bs-btn-disabled-color: #000000 !important;
	--bs-btn-disabled-bg: #eaeaea !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}

.btn-outline-light {
	--bs-btn-color: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-focus-shadow-rgb: 234, 234, 234 !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #eaeaea !important;
	--bs-btn-hover-border-color: #eaeaea !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #eaeaea !important;
	--bs-btn-active-border-color: #eaeaea !important;
	--bs-btn-disabled-color: #eaeaea !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}
