/* Root */

:root {
	--primary: #23ce6b;
}

::selection {
	color: var(--bs-primary);
	background-color: var(--bs-primary-bg-subtle);
}

body {
	font-family: "Noto Sans", sans-serif !important;
	overflow: hidden !important;
}

a {
	text-decoration: none !important;
}
